{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>

    {{ $site := .Site }}
    
    {{ range .Pages}}
        {{ if eq .Params.katex true }}
            {{ partial "katex.html" . }}
            {{ break }}
        {{ end }}
    {{ end }}

    {{ range .Paginator.Pages }}
    <article class="post">
        <header class="post__header">
            <h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
            <p class="post__meta">
                {{ .Params.author }},
                <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            </p>
        </header>
        <section class="post__summary">
            {{ .Summary }}
        </section>
        {{ "---" | markdownify }}
    </article>
    {{ end }}

    {{ if gt .Paginator.TotalPages 1 }}
        <div class="paginator__nums">
            {{ if ne .Paginator.PageNumber 1 }}
                <a href="{{relLangURL .Paginator.First.URL}}"><<</a>
            {{ end }}

            <!--{{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}"><</a>
            {{ end }}-->
            
            {{ $curPaginator := .Paginator }}
            {{ $CurPageNum := .Paginator.PageNumber }}
            {{ $adj := $site.Params.AdjLinks }}

            {{ range $i := (seq $curPaginator.TotalPages) }}
                {{ if or (and (ge . (sub $CurPageNum $adj)) (le . $CurPageNum)) (and (le . (add $CurPageNum $adj)) (ge . $CurPageNum)) }}
                    {{ if ne $CurPageNum . }}
                        <a href="{{relLangURL "/post/page/"}}{{.}}/">{{ . }}</a>
                    {{ else }}
                        {{ . }}
                    {{ end }}
                {{ end }}
            {{ end }}
            

            <!--{{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}">></a>
            {{ end }}-->

            {{ if ne .Paginator.PageNumber .Paginator.TotalPages }}
                <a href="{{relLangURL .Paginator.Last.URL}}">>></a>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
