<br>
  {{ $siteLanguages := .Site.Languages }}
  {{ $pageLang := .Page.Lang }}
  {{ $siteParams := .Site }}

  {{ range .Page.AllTranslations }}
    {{ $translation := .}}
    {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
          {{ if ne $pageLang .Lang }}
          <br/>
            {{ $lName := .LanguageName }}
            {{ range $siteParams.Params.AvLangs }}
              {{ if eq .Name $lName }}
                {{ .Text }} <a href="{{ $translation.Permalink }}">{{ .Link }}</a>.<br/>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
    {{ end }}
  {{ end }}
</p>
<br /><br />